<div class="container">
    <form novalidate [formGroup]="agencyForm">
        <h1 class="display-4">Registrar agencia turistica</h1>
        <div class="form-group">
            <label>Nombre de la agncia turistica</label>
            <input type="text" class="form-control" formControlName="agencyName">
            <div *ngIf="agencyForm.controls.agencyName.invalid 
            && (agencyForm.controls.agencyName.dirty || agencyForm.controls.agencyName.touched)" class="text-danger">
                <p *ngIf="agencyForm.controls.agencyName.errors.required">
                    El nombre es requerido.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label>Telefono</label>
            <input type="text" class="form-control" formControlName="agencyPhone">
            <div *ngIf="agencyForm.controls.agencyPhone.invalid 
            && (agencyForm.controls.agencyPhone.dirty || agencyForm.controls.agencyPhone.touched)" class="text-danger">
                <p *ngIf="agencyForm.controls.agencyPhone.errors.required">
                    El telefono es requerido.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label>Pagina web</label>
            <input type="text" class="form-control" formControlName="agencyWebPage">
            <div *ngIf="agencyForm.controls.agencyWebPage.invalid 
            && (agencyForm.controls.agencyWebPage.dirty || agencyForm.controls.agencyWebPage.touched)" class="text-danger">
                <p *ngIf="agencyForm.controls.agencyWebPage.errors.required">
                    La pagina web es requerida.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label>Correo electronico</label>
            <input type="text" class="form-control" formControlName="agencyEmail">
            <div *ngIf="agencyForm.controls.agencyEmail.invalid 
            && (agencyForm.controls.agencyEmail.dirty || agencyForm.controls.agencyEmail.touched)" class="text-danger">
                <p *ngIf="agencyForm.controls.agencyEmail.errors.required">
                    El correo electronico es requerido.
                </p>
                <p *ngIf="agencyForm.controls.agencyEmail.errors.email">
                    El correo electronico es invalido.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" formControlName="agencyPassword">
            <div *ngIf="agencyForm.controls.agencyPassword.invalid 
            && (agencyForm.controls.agencyPassword.dirty || agencyForm.controls.agencyPassword.touched)" class="text-danger">
                <p *ngIf="agencyForm.controls.agencyPassword.errors.required">
                    El password es requerido.
                </p>
            </div>
        </div>
        <p class="h3">Datos del representante</p>
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="representativeName">
            <div *ngIf="agencyForm.controls.representativeName.invalid 
            && (agencyForm.controls.representativeName.dirty || agencyForm.controls.representativeName.touched)" class="text-danger">
                <p *ngIf="agencyForm.controls.representativeName.errors.required">
                    El nombre es requerido.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" formControlName="representativeLastName">
            <div *ngIf="agencyForm.controls.representativeLastName.invalid 
            && (agencyForm.controls.representativeLastName.dirty || agencyForm.controls.representativeLastName.touched)" class="text-danger">
                <p *ngIf="agencyForm.controls.representativeLastName.errors.required">
                    El apellido es requerido.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label>Correo electronico</label>
            <input type="text" class="form-control" formControlName="representativeEmail">
            <div *ngIf="agencyForm.controls.representativeEmail.invalid 
            && (agencyForm.controls.representativeEmail.dirty || agencyForm.controls.representativeEmail.touched)" class="text-danger">
                <p *ngIf="agencyForm.controls.representativeEmail.errors.required">
                    El correo electronico es requerido.
                </p>
                <p *ngIf="agencyForm.controls.representativeEmail.errors.email">
                    El correo electronico es invalido.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label>Telefono</label>
            <input type="text" class="form-control" formControlName="representativePhone">
            <div *ngIf="agencyForm.controls.representativePhone.invalid 
            && (agencyForm.controls.representativePhone.dirty || agencyForm.controls.representativePhone.touched)" class="text-danger">
                <p *ngIf="agencyForm.controls.representativePhone.errors.required">
                    El telefono es requerido.
                </p>
            </div>
        </div>
        <div class="btn-group float-right">
            <button class="btn btn-primary" [disabled]="agencyForm.invalid" (click)="saveAgency()">
                Guardar
            </button>
        </div>
        <div class="btn-group float-left">
            <button class="btn btn-danger">
                Cancelar
            </button>
        </div>
    </form>
</div>