<div class="container">
    <h1>Registro de nuevo Destino Turistico.</h1>
    <form>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" required>
      </div>
 
      <div class="form-group">
        <b>Ubciacion</b><br>
        <label for="pais">Pais</label>
        <input type="text" class="form-control" id="pais">
        <label for="departamento">Departamento</label>
        <input type="text" class="form-control" id="departamento">
        <label for="provincia">Provincia</label>
        <input type="text" class="form-control" id="provincia">
        <label for="localidad">Localidad</label>
        <input type="text" class="form-control" id="localidad">
      </div>
 
      <button  class="btn btn-success">Guardar</button>
 
    </form>
</div>