<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tourism</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tourismNavbar" aria-controls="tourismNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="tourismNavbar">
        <ul class="navbar-nav mr-auto">
            <li class='nav-item'>
                <a class='nav-link' routerLink="/agency">Agencia</a>
            </li>
            <li class="nav-item">
                <a class='nav-link' *ngIf="auth.isAuthenticated()" routerLink="/paquetes/paquetesBuscados/paq">paquetes Turisticos</a>
            </li>
            <li class="nav-item">
                <a class='nav-link' *ngIf="!auth.isAuthenticated()" (click)="login()">Login</a>
            </li>
        </ul>
    </div>
    <span>
        <button (click)="login()" class="btn btn-outline-primary" type="button" *ngIf="!auth.isAuthenticated()">
            Ingresar
        </button>
        <button (click)="salir()" class="btn btn-outline-primary" type="button" *ngIf="auth.isAuthenticated()">
            Salir
        </button>
    </span>
</nav>
<br/>
<router-outlet></router-outlet>