<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-dark btn-arrow-right">
            {{ paquete }}
          </button>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Hora Inicio</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
            </tr>
            </thead>
            <tbody>

              <tr *ngFor="let actividad of model.actividades">
                <th scope="row">{{ actividad.fecha }}</th>
                <td>{{ actividad.horaInicio }}</td>
                <td>{{ actividad.nombre }}</td>
                <td>{{ actividad.descripcion }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
