<nav class="navbar navbar-dark bg-dark">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar Paquete Turistico" aria-label="Search" #buscarTexto>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="buscarPaquete(buscarTexto.value)">Search</button>
    </form>
</nav>
<h1>Buscando <small>{{termino}}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="paquetesBuscados.length==0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No exiten resultados con el término: {{termino}}
        </div>
    </div>
</div>

<div class="card-columns">
    <!-- *ngFor="let heroe of heroes;let i=index" -->
    <app-tarjeta-paquete (paqueteSeleccionado)="verPaquete($event)" *ngFor="let paquete of paquetesBuscados" [paquete]="paquete" [index]="paquete.id"></app-tarjeta-paquete>
</div>