<h1>Buscando <small>{{termino}}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="paquetesBuscados.length==0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No exiten resultados con el término: {{termino}}
        </div>
    </div>
</div>

<div class="card-columns">
    <!-- *ngFor="let heroe of heroes;let i=index" -->
    <app-tarjeta-paquete *ngFor="let paquete of paquetesBuscados" [paquete]="paquete" [index]="paquete.id" (click)="verPaquete(paquete.id)"></app-tarjeta-paquete>
</div>