<div class="container margin-top">

    <div class="card mb-3" *ngIf="paquete">
        <div class="card-header text-center">
            <h5>{{paquete.nombre | uppercase}}</h5>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide uk-responsive-height" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="height: 500px;" class="d-block w-100" [src]="paquete.fotos[0].data" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img style="height: 500px;" class="d-block w-100" [src]="paquete.fotos[1].data" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img style="height: 500px" class="d-block w-100" [src]="paquete.fotos[2].data" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{paquete.nombre}}</h5>
            <p class="card-text">{{paquete.descripcion}}</p>
            <p class="card-text"><small class="text-muted">{{paquete.precio}}</small></p>
            <div>
                <button *ngFor="let circuito of paquete.circuitos" type="button" class="btn btn-outline-primary btn-block" [routerLink]="['/']">{{circuito.nombre}}</button>
            </div>
        </div>

        <div>
            <h6>Calificacion:</h6>
            {{promedioPuntuacion}}
        </div>
        <form (ngSubmit)="comentar()">
            <div class="form-group">
                <label for="exampleFormControlTextarea1"><h6>Comentar</h6></label>
                <textarea name="comentario" required class="form-control " id="exampleFormControlTextarea1 " rows="3 "></textarea>
            </div>
            <button [disabled]="" class="btn btn-outline-primary centro " type="submit ">comentar</button>
        </form>
        <div class="card-footer text-muted text-center "></div>
        <div class="card comentarios " style="width: 18rem; ">
            <h3>Comentarios:</h3>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item " *ngFor="let calificacion of paquete.calificaciones ">{{calificacion.comentario}}</li>
            </ul>
        </div>
    </div>
</div>