html {
    height: 100%;
}

.margin-top {
    margin-top: 1%;
}

form {
    text-align: center;
}

textarea {
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 30%;
}

.centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comentarios {
    margin-left: auto;
    margin-right: auto;
}