html {
    height: 100%;
}

.margin-top {
    margin-top: 1%;
}

form {
    text-align: center;
}

textarea {
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 30%;
}

.centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comentarios {
    margin-left: auto;
    margin-right: auto;
}

.servicios
{
    text-align: center;
}

.servicios button
{
    margin: 0px 3px;
}

.accionServ
{
    width: 120px;
}

.accionServ button
{
    margin: 0px 3px;
    padding: 4px 10px;
    width: 33px;
}

#message-text
{
    width: 100%;
}